__pycache__/
.idea/
rasters/
rasters/*
labeled_rasters/
labeled_rasters/*
hierarchy_rasters/
hierarchy_rasters/*
labeled_hierarchies/
labeled_hierarchies/*
patches_rasters/
patches_rasters/*
partition_rasters/
partition_rasters/*
grid_rasters/
grid_rasters/*
*.old
