__pycache__/
.idea/
rasters/
rasters/*
labeled_rasters/
labeled_rasters/*
hierarchy_rasters/
hierarchy_rasters/*
labeled_hierarchies/
labeled_hierarchies/*
patches_rasters/
patches_rasters/*
partition_rasters/
partition_rasters/*
grid_rasters/
grid_rasters/*
sample_data/004_las.las
sample_data/306_las.las
tree_rasters/
tree_rasters/*
*.old
treesegmentation_output/
treesegmentation_output/*
labeled_point_clouds/
labeled_point_clouds/*
